* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html {
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}   
.header {
    grid-area: cultiva en casa;
    background-color: antiquewhite;
    text-align: center;
    align-items: center;
} 
.navbar {
    grid-area: navbar;
    background-color: bisque;
}
.sidebar {
    grid-area: sidebar;
    background-color: cadetblue;
}
.main {
    grid-area: main;
    background-color: cornflowerblue;
    color: black;
}
.footer {
    grid-area: footer;
    background-color: lightgrey;
}
.grid-container > * {
    box-shadow: -1px 1px 7px 0px black;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.grid-container {
    display: grid;
    gap: 10px;
    grid-template: 
    "header" 100px
    "navbar" 50px
    "sidebar" 100px
    "main" auto
    "footer" 100px
    ;

}
@media (min-width: 600px) {
    .grid-container {
        /*
        grid-template-columns: 200px auto;
        grid-template-areas:  
        "header header"
        "navbar navbar"
        "main sidebar"
        "footer footer";
        */
        grid-template: 
        "header header" 100px
        "navbar navbar" 50px
        "main sidebar" auto
        "footer footer" 100px
        ;
    }
    
}
@media (min-width: 900px) {
    .grid-container {
        grid-template: 
        "header header header" 100px
        "navbar main sidebar" 33% 33% 33%
        "footer footer footer" 100px
        ;
    }

}
.header {
    grid-template: auto;
    background-image: url(logo.png.webp);
    background-color: darkgreen;
    color: aliceblue;
    border: 2px solid rebeccapurple;
}
/* inicio navbar*/
.navbar {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    background-color: lawngreen;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-rows: auto;
    padding: 25px;
    border: 2px solid rebeccapurple;

}
.sidebar {
    grid-template-columns:auto; 
    border: 2px solid rebeccapurple;
    background-color: darkkhaki;
}
.main {
    border: 2px solid rebeccapurple;
    background-image: url(verdu2.jpg);
}
.footer {
    border: 2px solid rebeccapurple;
    background-image: url(verdu.jpg);

}
  
 
